<?xml version="1.0"?>
<configuration>
  
  <configSections>
    <section name="uploadSettings" type="darrenjohnstone.net.FileUpload.UploadConfigurationSection, fileuploadlibrary, Version=2.0.0.0, Culture=neutral, PublicKeyToken=af961ece0b692dfb"/>
  </configSections>
  
  <appSettings>
    <add key="EnableSMTP" value="true"/>
    <add key="UploadPath" value="/Upload/Files"/>
    <add key="FileBrowserRoots" value="\\pripev64/RAID/Music/Lossy;\\pripev64/RAID/Music/Partial"/>
    <add key="FileBrowserRootsHidden" value="\\pripev64/RAID/Music"/>
    <add key="UserOrdersPath" value="\\pripev64/Music/Orders/"/>
    <add key="ExpirePages" value="true"/>
    <!-- Copyright level: Low - use Owner table, OOO - only show to logged in users and robots, otherwise show all-->
    <add key ="CopyrightLevel" value="Low"/>
  </appSettings>
  
  <uploadSettings showCancelButton="true" enableManualProcessing="true"/>

  <location inheritInChildApplications="false">
    <system.web>
      <compilation debug="true" targetFramework="4.0"/>
      <trace enabled="false" pageOutput="false" requestLimit="40" localOnly="false"/>
      <authentication mode="Windows"/>
      <customErrors mode="RemoteOnly" defaultRedirect="/Errors/Error.aspx">
        <error statusCode="404" redirect="/Errors/404.aspx"/>
      </customErrors>
      <pages clientIDMode="AutoID">
        <controls>
          <add tagPrefix="pwc" namespace="Pripev.Web.UI.WebControls" assembly="WebControls"/>
          <add tagPrefix="puc" src="~/UserControls/FileBrowser.ascx" tagName="FileBrowser"/>
          <add tagPrefix="auc" src="~/UserControls/Admin/ArtistList.ascx" tagName="ArtistList"/>
          <add tagPrefix="auc" src="~/UserControls/Admin/Artist.ascx" tagName="Artist"/>
          <add tagPrefix="auc" src="~/UserControls/Admin/Album.ascx" tagName="Album"/>
          <add tagPrefix="auc" src="~/UserControls/Admin/Sound.ascx" tagName="Sound"/>
        </controls>
      </pages>
      <httpHandlers>
        <add verb="GET" type="darrenjohnstone.net.FileUpload.UploadProgressHandler, FileUploadLibrary" path="UploadProgress.ashx"/>
        <add verb="GET" path="CaptchaImage.axd" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha"/>
        <add verb="GET" path="/rss*" type="Pripev.Web.RssHandler, LiveFeedHandlers"/>
        <add verb="GET" path="/atom*" type="Pripev.Web.AtomHandler, LiveFeedHandlers"/>
      </httpHandlers>
      <httpModules>
        <!--<add name="upload_module" type="darrenjohnstone.net.FileUpload.UploadModule, FileUploadLibrary"/>-->
      </httpModules>
      <globalization uiCulture="ru" culture="ru-RU" responseEncoding="windows-1251" fileEncoding="windows-1251" requestEncoding="windows-1251"/>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
    <system.webServer>
      <validation validateIntegratedModeConfiguration="false"/>
      <modules>
        <remove name="upload_module"/>
        <add name="upload_module" type="darrenjohnstone.net.FileUpload.UploadModule, FileUploadLibrary"/>
      </modules>
      <handlers>
        <add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="WebControlCaptcha.CaptchaImageHandler, WebControlCaptcha"/>
        <add name="UploadProgress" verb="GET" type="darrenjohnstone.net.FileUpload.UploadProgressHandler, FileUploadLibrary" path="UploadProgress.ashx"/>
        <add name="RssFeed" verb="GET" path="/rss*" type="Pripev.Web.RssHandler, LiveFeedHandlers"/>
        <add name="AtomFeed" verb="GET" path="/atom*" type="Pripev.Web.AtomHandler, LiveFeedHandlers"/>
      </handlers>
    </system.webServer>
  </location>

  <location path="Upload">
    <system.webServer>
      <security>
        <requestFiltering>
          <requestLimits maxAllowedContentLength="105906176"/>
        </requestFiltering>
      </security>
    </system.webServer>
    <system.web>
      <httpRuntime executionTimeout="3600" maxRequestLength="103424"/>
    </system.web>
  </location>

  <system.net>
    <mailSettings>
      <smtp from="webmaster@pripev.ru">
        <network host="pripev" password="ketixin3" userName="rook@pripev.ru"/>
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Pripev.Web.Services.WCF.ChatBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <services>
      <service behaviorConfiguration="Pripev.Web.Services.WCF.ChatBehavior" name="Pripev.Web.Services.WCF.Chat">
        <endpoint address="" binding="basicHttpBinding" contract="Pripev.Web.Services.WCF.Chat"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>

</configuration>
